---
layout: layouts/base.njk
pagination:
  data: products
  size: 1
  alias: product
permalink: "products/{{ product.handle }}/"
---

<h1>{{ product.title }}</h1>

<div class="product">
  <figure class="product-img">
    <img src="{{ product.featuredMedia.src }}" alt="{{ product.featuredMedia.altText }}"/>
  </figure>

  <div class="product-details">
    <p>{{ product.description }}</p>
    <p>
      <strong>${{ product.priceRange.max }}</strong>
    </p>
    <button class="add-to-cart">Add To Cart</button>
  </div>
</div>

<script>
  window.product = {{ product | dump | safe }}
</script>