---
layout: layouts/base.njk
pagination:
  data: products
  size: 1
  alias: product
permalink: "products/{{ product.handle }}/"
---

<h1>{{ product.title }}</h1>

<p>{{ product.description }}</p>

<p>
  <strong>${{ product.priceRange.max }}</strong>
</p>

<button class="add-to-cart">Add To Cart</button>

<script>
  window.product = {{ product | dump | safe }}
</script>